spring:
  application:
    name: search-service
  profiles:
    active: es-kafka
  elasticsearch:
    uris: http://localhost:9200
  kafka:
    bootstrap-servers: localhost:9092

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: 8089

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

app:
  search:
    product-service-base-url: http://localhost:8083
    relevance:
      target-pass-rate: 85.0
  cleanup:
    fixed-delay: PT6H
    dedup-retention: P14D

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
