spring:
  application:
    name: order-service
  profiles:
    active: mysql-kafka
  datasource:
    url: jdbc:mysql://localhost:3306/ecom_order?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  kafka:
    bootstrap-servers: localhost:9092

app:
  saga:
    payment-timeout-minutes: 15
  outbox:
    max-retry: 5
  cleanup:
    fixed-delay: PT6H
    outbox-sent-retention: P7D
    outbox-failed-retention: P30D
    dedup-retention: P14D
  kafka:
    topics:
      order-created: order.created.v1
      order-timed-out: order.timed-out.v1
      inventory-reservation-failed: inventory.reservation.failed.v1
      payment-authorized: payment.authorized.v1
      payment-failed: payment.failed.v1

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: 8086

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
