spring:
  application:
    name: order-service
  profiles:
    active: mysql-kafka
  datasource:
    url: jdbc:mysql://localhost:3306/ecom_order?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  kafka:
    bootstrap-servers: localhost:9092

app:
  outbox:
    max-retry: 5
  kafka:
    topics:
      order-created: order.created.v1
      inventory-reservation-failed: inventory.reservation.failed.v1
      payment-authorized: payment.authorized.v1
      payment-failed: payment.failed.v1

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: 8086

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
