spring:
  application:
    name: notification-service
  profiles:
    active: kafka
  datasource:
    url: jdbc:mysql://localhost:3306/ecom_notification?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9092
  mail:
    host: localhost
    port: 1025
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: 8090

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

app:
  notification:
    provider: log
    max-retry: 3
    templates-resource: classpath:notification-templates.json
  cleanup:
    fixed-delay: PT6H
    dedup-retention: P14D
  kafka:
    topics:
      notification-dlq: notification.dlq.v1
      notification-alert: notification.alert.v1

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
