# Alertmanager Receiver Validation Report

Generated at: 2026-02-19T16:45:43.523119+00:00
Status: `failed`

| Key | Status | Reason |
|---|---|---|
| ALERTMANAGER_SLACK_API_URL | failed | placeholder |
| ALERTMANAGER_AUDIT_WEBHOOK_URL | ok | ok |
| ALERTMANAGER_SLACK_CHANNEL_CRITICAL | ok | ok |
| ALERTMANAGER_SLACK_CHANNEL_ORDER | ok | ok |
| ALERTMANAGER_SLACK_CHANNEL_NOTIFICATION | ok | ok |
| ALERTMANAGER_SLACK_CHANNEL_PAYMENT | ok | ok |
| ALERTMANAGER_PD_ROUTING_KEY_CRITICAL | failed | placeholder |
| ALERTMANAGER_PD_ROUTING_KEY_ORDER | failed | placeholder |
| ALERTMANAGER_PD_ROUTING_KEY_NOTIFICATION | failed | placeholder |
| ALERTMANAGER_PD_ROUTING_KEY_PAYMENT | failed | placeholder |
| ALERTMANAGER_EMAIL_ORDER | failed | placeholder |
| ALERTMANAGER_EMAIL_NOTIFICATION | failed | placeholder |
| ALERTMANAGER_EMAIL_PAYMENT | failed | placeholder |
